<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
    	<package name="mappings/modules/sys/UserDao.xml"/>
    	<package name="mappings/modules/sys/AccountDao.xml"/>
    	<package name="mappings/modules/sys/TaskDao.xml"/>
    	<package name="mappings/modules/sys/AnnouncementDao.xml"/>
    </mappers>
   <plugins>
   	<plugin interceptor="com.manager.common.plugin.PagePlugin"></plugin>
   </plugins>
</configuration>
